*~
*.swp
.DS_Store
server/
pkg/
bench/
*cache*/
log/*
tmp/*
db/*.sqlite3
config/database.yml
config/aws-s3.yml
config/mailer.yml
config/session.yml
config/hoptoad.yml
*.sql
_site/
vendor/bundler_gems/
!vendor/bundler_gems/cache/
bin/
