<% @title = "FAQ" %>
<% @subtitle = "don't worry, be happy" %>

<p>
  <b>Hey! Why does this look kinda like Gemcutter but not as pretty?</b><br />
  Because it <strong>is</strong> a running Gemcutter instance. We just didn't want to use Gemcutter itself so we didn't burden those folks with hosting Java/Scala/Clojure/whacky JVM language of the day code. This is like Gemcutter, but for JVM languages. 
</p>

<p>
  <b>Where do you get off trashing Maven?</b><br />
  Maven is fine. It's an incredibly powerful tool with a lot more features than JavaGems will probably ever have. If Maven is working for you, keep using Maven. The problem is, some of us have smaller needs and don't need all the power of Maven, but rather, need something more simple. JavaGems aims to fill that gap. It's not trying to replace Maven, but rather, complement it.  
</p>

<p>
  <b>Do I need Ruby installed to use this?</b><br />
  That's an interesting question. You don't need Ruby installed, technically - there's a standalone JAR available at <%= link_to 'the GitHub downloads page for JavaGems', 'http://github.com/javagems/javagems/downloads' %>. However, that standalone JAR consists of JRuby plus some extra code anyway, and is what the <code>javagem</code> command actually executes. If you install JRuby (<code>javagem install jruby</code>) your life will probably be much brighter anyway. 
</p>

<p>
  <b>How can I help?</b><br />
  Fork away on <a href="http://github.com/javagems/gemcutter">GitHub</a> and make your changes! JavaGems, like Gemcutter, is run on a 'commit bit' policy, so once you've submitted a patch that is accepted, you can gain access to the main repository if you'd like.
</p>
