<% @title = "FAQ" %>
<% @subtitle = "don't worry, be happy" %>

<p>
  <b>Hey! Why does this look kinda like Gemcutter but not as pretty?</b><br />
  Because it <strong>is</strong> a running Gemcutter instance. We just didn't want to use Gemcutter itself so we didn't burden those folks with hosting Java/Scala/Clojure/whacky JVM language of the day code. This is like Gemcutter, but for JVM languages. 
</p>

<p>
  <b>Where do you get off trashing Maven?</b><br />
  Maven is fine. It's an incredibly powerful tool with a lot more features than JavaGems will probably ever have. If Maven is working for you, keep using Maven. The problem is, some of us have smaller needs and don't need all the power of Maven, but rather, need something more simple. JavaGems aims to fill that gap. It's not trying to replace Maven, but rather, complement it.  
</p>

<p>
  <b>Do I need Ruby installed to use this?</b><br />
  Yes. For a brief moment in time, we had a standalone JAR version of JavaGems. It was kind of a pain in the ass to build and maintain though, due to things like JRuby shipping with crippled OpenSSL support because of inane US cryptography export restrictions. If you'd like to have a standalone JAR version, feel free to fork the repo and contribute one. Until then, you'll need to install either <%= link_to 'Ruby', "http://ruby-lang.org/" %>, <%= link_to 'Ruby Enterprise Edition', "http://www.rubyenterpriseedition.com/" %>, or <%= link_to "JRuby", "http://jruby.org/" %> to make use of JavaGems.
</p>

<p>
  <b>How can I help?</b><br />
  Fork away on <a href="http://github.com/thumblemonks/javagems-gemcutter">GitHub</a> and make your changes! JavaGems, like Gemcutter, is run on a 'commit bit' policy, so once you've submitted a patch that is accepted, you can gain access to the main repository if you'd like. In particular, we need a lot of help rebranding the site from 'Gemcutter' to 'JavaGems' right now.
</p>
